@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    overflow: hidden;
}

/* Custom scrollbar for panels */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1e293b;
}

::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 3px;
}